.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.photo-grid-container {
  display:flex;
  flex-direction: column;
  height: auto;
  width: 600px;
  margin: 10px;
}